/* Geral */

* {
    font-family: 'Roboto';
}
body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;

}

header{
    background-color: #FFF;
    border-bottom: 1px solid #ccc;
}

.row{
    margin: 0;
}

.container-fluid{
    padding: 0;
}

.btn-primary{
    background-color: #f2a340;
    border: 2px solid #c28008;
}

#navbar img{
    width: 50px; ;
}
